[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Altair-Bueno
	email = 67512202+Altair-Bueno@users.noreply.github.com
[core]
	excludesfile = /Users/compux72/.gitignore_global
	autocrlf = input
	pager = delta
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain

# Delta config
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default