[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Altair-Bueno
	email = 67512202+Altair-Bueno@users.noreply.github.com
[core]
	excludesfile = /home/compux72/.gitignore_global
	autocrlf = input
[init]
	defaultBranch = master

[credential]
	helper = libsecret
